:root {
  font-size: 110%;
}

body {
  font-size: 1rem;
}

p {
  margin-bottom: 1.2rem;
}

img.headshot {
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
  width: 150px;
  height: auto;
}

ul > li > p {
  margin-bottom: 0;
}

ul > li {
  margin-bottom: 0.5rem;
}
