---
# This workflow runs the repo's CI tests.
name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: 5 4 * * 1  # every monday at 04:05 UTC
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    defaults:
      run:
        shell: bash -elo pipefail {0}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Cache pre-commit
        uses: actions/cache@v5
        with:
          path: ~/.cache/prek/
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run pre-commit checks
        run: >
          curl --proto '=https' --tlsv1.2 -LsSf
          https://github.com/j178/prek/releases/download/v0.3.0/prek-installer.sh
          | sh && prek run --all-files
        env:
          SKIP: no-commit-to-branch
